@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Playfair+Display');

h1 {
    font-family: 'Playfair Display';
    color: white;
    background-color: white;
    color: coral;
    line-height: .5em;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: dimgray;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 25px;
    width: 200px;
    background-color: coral;
    color: white;
    z-index: 999;
}

nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 8px;
    transition: 250ms background-color;
}

.bottomlink {
    position: absolute;
    bottom: 25px;
    right: 25px;
    left: 25px;
}



nav a:hover {
    background-color: white;
    color: coral;
}

.container {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
}

.explorersettings {
    font-size: 14pt;
    font-weight: 400;
    text-align: right;
    border-bottom: solid .1em coral;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    background-color: whitesmoke;
    z-index: 2;
}

.explorersettings a {
    color: inherit;
    text-decoration: none;
}

.explorersettings a:hover {
    text-decoration: underline;
}

.explorersettings a.active.up {
    text-decoration: overline;
}

.explorersettings a.active.down {
    text-decoration: underline;
}

.explorer>div>a {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 5px;
    border-radius: 2px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: 100ms transform;
	color: inherit;
	text-decoration: none;
}

.explorer {
    padding: 1em;
    font-size: .8em;
    position: fixed;
    top: 50px;
    left: 250px;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
}



.explorer i {
    width: 50px;
    height: 50px;
    text-align: center
}

.folders {
/*    border-bottom: .05em solid coral;*/
    background-color: whitesmoke;
    border-radius: 2px;
}

.folder {
    background-color: white
}

.file {
    background-color: whitesmoke;
}

.explorer>div>a:hover {
    color: coral;
    transform: scale(1.1);
}

.addFile {
    color: lightcoral;
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5em;
    transition: 100ms transform;
    z-index: 1;
}
.addFile:hover {
    transform: scale(1.1);
}

.addFile:hover {
    transform: scale(1.1);
}

#addFileWindow {
    opacity: 0;
    transition: 250ms opacity;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,127,80,.5);
    z-index: 9999;
    display: none;
    text-align: center;
}

.full {
    height: 100%;
}

#addFileWindow>div {
    display: inline-block;
    vertical-align: middle;
}

.addFileContainer {
    width: 250px;
    height: 175px;
    background-color: whitesmoke;
    opacity: 1;
    border-radius: .1em;
    box-shadow: 0 0 1em black;
    padding: 25px;
    box-sizing: border-box;
}

.addFileContainer input {
    display: block;
    width: 200px;
    height: 50px;
    background-color: coral;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: 100ms transform;
}
.addFileContainer input:hover {
    transform: scale(1.1);
}

#file {
    display: none;
}

label[for="file"] {
    font-size: .7em;
    height: 50px;
    line-height: 50px;
    width: 200px;
}

.addFileContainer form>* {
    height: 50px;
    line-height: 50px;
    margin: 25px 0;
    font-size: .7em;
}

form {
    font-family: inherit;
}

input[type="submit"] {
    font-weight: inherit;
    font-family: inherit;
}

#newFolder {
    bottom: 2.5em;
}