html(lang='fr')
    head
        meta(charset='utf-8')
        
        title PIDrive -- Login
        
        link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
    
    body
        .fullh
        .loginbox
            form(action='', method='post')
                h1 PIDrive
                input(type='text', name='username', placeholder='Username')
                input(type='password', name='password', placeholder='Password')
                input(type='submit')